@model MyBarber.Models.User

<h2>Welcome, @Model.Name!</h2>
<p>Your email: @Model.Email</p>
<p>Here you can view your appointments and manage your account.</p>
<a href="/User/MyAccount">My Account</a>

